<div id="contactContainer">
  <div id="myPicture">
    <img src="{{ contactData.contactImg }}" alt="">
  </div>
  <div id="contactLinks">
    <span>Email: <a class="quick-contact-link" href="mailto:{{ contactData.email }}">{{ contactData.email }}</a></span>
    <span>Phone: <a class="quick-contact-link" href="tel:{{ contactData.phoneNumber }}">(862)902-3780</a></span>
    <span>GitHub: <a class="quick-contact-link" href="{{contactData.github}}" target="_blank">aparcanapavel</a></span>
    <span>LinkedIn: <a class="quick-contact-link" href="{{contactData.linkedin}}" target="_blank">pavel-aparcana</a></span>
    <span>AngelList: <a class="quick-contact-link" href="{{ contactData.angelList }}" target="_blank">PavelAparcana</a></span>
    <span>Resume: <a class="quick-contact-link" href="{{ contactData.resume }}" target="_blank">View</a></span>
  </div>

  <div class="about-me-contact">
    <h4>About me</h4>
    <p>
      My passion for software development first began when I took an Intro to Web Design class at Rutgers University. To be
      fair, I have to thank my professor for he had an even bigger passion for Web Design. He encouraged us to mess around
      with the html attributes and stylesheets, in which I was able to see how changing those properties changed the behavior
      of the overall design, and I became hooked. This led me to decided to continue learning other technologies.
    </p>
    <p>  
      Today, I have developed full stack projects with recent technologies like JavaScript, Ruby on Rails, React, HTML, CSS,
      PostreSQL, and MongoDB. Learning these technologies was not easy, but that's what allowed me to want to continue. Every
      bug I came across, I needed to find out why or else I would not be able to sleep that night.
    </p>
    <p>
      Finally, I am also a human and I love handling DSLR cameras. Everything from taking high quality images and
      producing videos, to editing the media I create, I enjoy it all. Patience is something I am thankful to have, and the
      best part is that it applies to both my career and my hobby.
    </p>
  </div>
</div>

<section id="blog-background-cont">
  <div id="blog">
    <h3>Blog</h3>
    <div class="blogPost" *ngFor="let blog of blogs|reverse">
      <div class="blogImg">
        <a routerLink="/contact/blog/{{blog.blogId}}"><img src="{{blog.blogImage}}" alt=""></a>
        <p>{{blog.blogDate}}</p>
      </div>
      <a routerLink="/contact/blog/{{blog.blogId}}">
        <h5>{{ blog.blogTitle }}</h5>
      </a>
    </div>
  </div>
</section>
