#contactContainer{
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Heebo', sans-serif;
}
#myPicture
{
  width: 20%;
  border-radius: 150px;
  overflow: hidden;
  border: 3px solid white;
  margin: auto;
}
#myPicture img
{
  width: 100%;
}
#contactLinks
{
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}

.quick-contact-link{
  color: #89B3D6;
  transition: color 0.3s;
  text-decoration: none;
}

.quick-contact-link:hover{
  color: rgb(170, 193, 212);
}

.quick-contact-link:active{
  color: rgb(107, 142, 170)
}

#contactLinks span
{
  width: 50%;
  display: inline-block;
  color: white;
}
.horizontalLine
{
  width: 90%;
  background-color: white;
}
#blog
{
  display: block;
  position: relative;
  width: 100%;
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Heebo', sans-serif;
}

#blog-background-cont{
  width: 100%;
  background-color: #607E96;
}
#blog h3
{
  color: white;
  font-weight: 700;
}
.blogPost
{
  width: 33%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: 5px 10px;
  vertical-align: top;
}
.blogImg
{
  z-index: 1;
  /* height: 200px; */
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  transition: border 0.4s;
}
.blogImg:hover
{
  border: 1px solid white;
}
.blogImg img
{
  width: 100%;
  overflow: hidden;
  z-index: 0;
  display: block;
}
.blogImg p
{
  z-index: 0;
  background: linear-gradient( transparent 1%, black);
  position: absolute;
  width: 100%;
  margin: 0px;
  margin-top: -23px;
  color:white;
  text-align: right;
  padding-right: 3px;
}
.blogPost a h5
{
  color: white;
  text-decoration: none;
  text-align: center;
}

.about-me-contact{
  position: relative;
  display: block;
  color: white;
  padding: 10px 50px;
}

.about-me-contact h4 {
  text-align: center;
  border-bottom: 1px solid whitesmoke;
  padding: 10px;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.about-me-contact p {
  padding: 0px 40px;
}







/* Mobile Switch! */
@media all and (max-width:650px)
{
  #myPicture
  {
    min-width: 115px;
  }
}





@media all and (max-width:550px)
{
  #contactLinks
  {
    padding-top: 10px;
  }
  #contactLinks span
  {
    width: 100%;
    display: block;
    color: white;
  }
  .blogPost
  {
    width: 50%;
    display: inline-block;
    padding: 5px 10px;
  }

  .about-me-contact{
    position: relative;
    display: block;
    color: white;
    padding: 10px 0px;
  }

  .about-me-contact p {
    padding: 0px 10px;
  }
}







@media all and (max-width: 380px)
{
  h3
  {
    font-size: 23px;
  }
  h5
  {
    font-size: 18px;
  }
  .blogPost
  {
    width: 90%;
    display: block;
    margin: auto;
    padding: 5px 10px;
  }
  .about-me-contact h4 {
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
