.welcome-header{
  width: 100%;
  position: relative;
  padding: 150px 50px;
  transition: opacity 0.3s;
}

.welcome-header h3,
.welcome-header > p{
  color: white;
  width: auto;
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

.welcome-header h3{
  font-size: 65px;
}

.welcome-header > p {
  font-size: 20px;
  font-family: 'Heebo', sans-serif;
  margin: 0px;
}

.to-projects{
  color: white;
  text-align: center;
  border: 1px solid white;
  max-width: 150px;
  padding: 0px 20px;
  font-family: 'Heebo', sans-serif;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  bottom: -60px;
  box-sizing: border-box;
  transition: background-color 0.3s;
  cursor: pointer;
}

@keyframes borderBlink {
50% { border-color: #89B3D6; }
}

@keyframes colorBlink {
50% { color: #89B3D6; }
}

.to-projects:hover{
  color: black;
  background-color: whitesmoke;
}

.to-projects i {
  animation: colorBlink 2.5s linear infinite;
}

.to-projects p {
  margin: 0px;
  padding: 0px;
}

#quickContact
{
  display: block;
  position: relative;
  list-style: none;
  font-size: 25px;
  top: 5px;
  margin: 0 auto;
  z-index: 2;
  width: fit-content;
  padding: 0px;
}
#quickContact > li
{
  width: 40px;
  height: 40px;
  margin: 15px 20px;
  background-color: white;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  transition: 0.2s;
}
#quickContact > li:hover
{
  background-color: #89B3D6;
}
#quickContact > li > a:hover
{
  color: white;
  transition: color 0.3s;
}
#quickContact > li > a
{
  text-decoration: white;
  color: black;
  padding: 2px;
  vertical-align: top;
  font-size: 35px;
}
#quickContact > li:nth-of-type(2) > a
{
  font-size: 33px;
  padding: 3px 2px;
}

#portfolioContainer,
#skills-vol,
#projects-comp{
  width: 100%;
  padding: 0px;
}

#projects-list,
#XP{
  padding: 10px 20px;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Heebo', sans-serif;
}

#projects-comp{
  background-color: #607E96;
}

.horizonalLine
{
  width: 90%;
  background-color: white;
}
#projects-comp .section
{
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
  display: block;
  position: relative;
}

#projects-list{
  position: relative;
  display: block;
}

#projects{
  position: relative;
  display: inline-block;
  width: 45%;
  box-sizing: border-box;
  border: 1px solid white;
  padding: 5px;
  margin: 2.5%;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 5px;
  background-color: rgba(137, 179, 214, 0.432);
  height: 182px;
  transition: 0.3s;
  cursor: pointer;
}

#projects:focus{
  outline: none;
}

#projects:hover{
  transform: translateY(-3%);
  background-color:rgb(85, 122, 152);
  border-color: rgb(189, 189, 189);
}

.image{
  position: relative;
  width: 20%;
  display: inline-block;
}

.image img {
  width: 100%;
}

#projects > h5{
  width: 75%;
  display: inline-block;
  text-align: center;
  font-weight: 700;
}

#projects .projectData p {
  padding: 5px 20px;
  text-align: center;
}

#dateArrow{
  position: absolute;
  width: 100%;
  bottom: -15px;
}

#dateArrow p,
#dateArrow a{
  display: inline-block;
  width: 50%;
  font-size: 14px;
}

#dateArrow a{
  text-align: right;
  padding-right: 20px;
}

/* Hardcoded things */
@keyframes blinker {
50% { color: white; }
}

#xp
{
  position: relative;
  display: block;
}
#xpSwitch
{
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}
#xpSwitch a
{
  font-size: 18px;
  color: rgba(255,255,255,0.9);
  padding: 10px;
}
#xpSwitch a:nth-of-type(1)
{
  border-right: 1px solid white;
}
#xpSwitch a:hover
{
  color: #00A6FF;
  transition: color 0.4s;
  cursor: pointer;
}
#xpSwitch > a.active
{
  color: #89B3D6;
  text-decoration: none;
  animation: blinker 2.5s linear infinite;
}
#skills-certs
{
  display: block;
  position: relative;
  width: 100%;
  vertical-align: top;
  color: white;
}
#skills-certs > h3,
#volunteer > h3
{
  margin-bottom: 0px;
}
#skills-certs > .skillData
{
  display: block;
  position: relative;
}

#skills-certs > .skillData .skill-list{
  position: relative;
  display: block;
  list-style: none;
  padding: 0px;
}

#skills-certs > .skillData .skill-list li {
  position: relative;
  display: inline-block;
  width: 25%;
  padding: 50px 0px;
  box-sizing: border-box;
}

#skills-certs > .skillData .skill-list li > img{
  display: block;
  width: 100%;
  padding: 0px 50px;
}

#skills-certs > .skillData .skill-list li > caption{
  display: block;
  color: white;
  text-align: center;
}

#volunteer
{
  color: white;
  display: block;
  width: 100%;
}
#vol
{
  vertical-align: middle;
  width: 330px;
  display: inline-block;
  position: relative;
  min-height: 260px;
}
#volunteer .volunteering
{
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  position: relative;
}
#volunteer .volunteering ul
{
  padding-top: 10px;
}
#volunteer .volunteering ul li
{
  padding-right: 50px;
  color: rgba(255, 255, 255, 0.9);
}

.container-title{
  font-weight: 700;
}







@media all and (max-width:800px)
{
  #skills-certs > .skillData .skill-list li {
    width: 33%;
  }

  #skills-certs > .skillData .skill-list li:last-child{
    align-items: center;
    display: flow-root;
    margin: 0 auto;
  }
  
  #volunteer
  {
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
  }
  #vol
  {
    vertical-align: middle;
    width: 360px;
    margin: auto;
    display: block;
    position: relative;
    min-height: 260px;
  }
  #volunteer .volunteering
  {
    display: block;
    vertical-align: middle;
    width: 100%;
    position: relative;
  }
  #volunteer .volunteering ul li
  {
    padding-right: 50px;
    padding-top: 5px;
  }
}







/* Mobile Switch! */
@media all and (max-width:650px)
{
  #projects{
    display: block;
    width: 100%;
    margin: 20px 0px;
  }
  #vol
  {
    vertical-align: middle;
    width: 60%;
    margin: auto;
    display: block;
    position: relative;
    min-height: 260px;
  }
  .welcome-header{
    width: 100%;
    position: relative;
    padding: 10px 50px;
    height: 250px;
  }

  .welcome-header h3,
  .welcome-header > p{
    color: white;
    width: auto;
    text-align: center;
    font-family: 'Questrial', sans-serif;
  }

  .welcome-header h3{
    font-size: 45px;
  }

  .welcome-header > p {
    font-size: 15px;
    font-family: 'Heebo', sans-serif;
  }

  .to-projects{
    color: white;
    text-align: center;
    border: 1px solid white;
    max-width: 150px;
    padding: 0px 20px;
    font-family: 'Heebo', sans-serif;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    bottom: 0px;
    /* left: 50%; */
    box-sizing: border-box;
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 15px;
  }

  #quickContact > li
  {
    width: 30px;
    height: 30px;
  }
  #quickContact > li > a
  {
    font-size: 28px;
  }
  #quickContact > li:nth-of-type(2) > a
  {
    font-size: 25px;
  }
}








@media all and (max-width:550px)
{
  #skills-certs > .skillData .skill-list li {
    width: 50%;
  }

  #skills-certs > .skillData .skill-list li:last-child{
    align-items: center;
    display: inline-block;
    margin: 0 auto;
  }

  #skills-certs > .skillData .skill-list li {
    position: relative;
    display: inline-block;
    padding: 50px 0px;
    box-sizing: border-box;
  }

  #skills-certs > .skillData .skill-list li > img{
    display: block;
    width: 100%;
    padding: 0px 50px;
  }

  #vol
  {
    vertical-align: middle;
    width: 90%;
    margin: auto;
    display: block;
    position: relative;
    min-height: 330px;
  }
}








@media all and (max-width:380px)
{
  h3
  {
    font-size: 23px;
  }
  .projectData h5
  {
    font-size: 17px;
    padding-right: 8px; 
  }
  .projectData p
  {
    font-size: 15px;
  }
  #dateArrow p
  {
    font-size: 14px;
    padding-top: 5px;
  }
  #skills-certs > .skillData .skill-list li {
    position: relative;
    display: inline-block;
    padding: 40px 0px;
    box-sizing: border-box;
  }

  #skills-certs > .skillData .skill-list li > img{
    display: block;
    width: 100%;
    padding: 0px 40px;
  }
}
