<div id="portfolioContainer">
  <div class="section">
    <h3>Projects</h3>

    <div id="projects" *ngFor="let project of projects | reverse" routerLink="/portfolio/{{project.projID}}">
      <div class="image">
        <img src="{{ project.projIcon }}" alt="">
      </div>
      <div class="projectData">
          <h5>{{ project.projTitle }}</h5>
          <p> {{ project.projSummary }}</p>
      </div>
      <div id="dateArrow">
        <p> {{ project.projDate }}</p>
        <a class="fas fa-chevron-right"></a>
      </div>
    </div>
    <hr id="projectLine">
  </div>

  <div id="XP" [ngSwitch]="xp">
    <div id="xpSwitch">
      <a id="skillsIcon" class="fas fa-list-ul" (click)="setXP('skills', $event)" tooltip="Skills and Certificates" placement="left"></a>
      <a id="volIcon" class="fas fa-hands-helping" (click)="setXP('volunteer', $event)" tooltip="Volunteer Work" placement="right"></a>
    </div>

    <div id="skills-certs" *ngSwitchCase="'skills'" [@xpSwitch]>
      <h3>Technical Skills</h3>
      <div class="skillData">
        <ul>
          <li>JavaScript</li>
          <li>GraphQL/Apollo</li>
          <li>MongoDB</li>
          <li>React.js</li>
          <li>PostgreSQL</li>
          <li>Ruby on Rails</li>
          <li>Node.js</li>
          <li>jQuery</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Amazon Web Services</li>
          <li>Angular 7</li>
          <li>p5.js</li>
        </ul>
      </div>
      <div class="skillData">
        <span class="fab fa-html5"></span>
        <span class="fab fa-css3-alt"></span>
        <span class="fab fa-js-square"></span>
        <span class="fab fa-angular"></span>
        <span class="fab fa-aws"></span>
        <span class="fab fa-node-js"></span>
        <span class="fab fa-react"></span>
      </div>
    </div>

    <div class="volunteer" id="volunteer" *ngSwitchCase="'volunteer'" [@xpSwitch]>
      <h3>Volunteer Work</h3>
        <div class="volunteering">
          <ul>
            <li>Raised $1,500 for the Juvinile Diabetes Research Foundation October 2015 - Present</li>
            <li>Helped Raise $912,143.47 for Rutgers Dance Marathon Spring 2016 and 2018</li>
            <li>5 hours of Community Service per college semester</li>
          </ul>

        </div>
        <carousel id="vol">
          <slide class="slidePic">
            <img src="assets/portfolio/experience/jrdf2015.png" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide class="slidePic">
            <img src="assets/portfolio/experience/ftk2016.png" alt="second slide" style="display: block; width: 100%;">
          </slide>
          <slide class="slidePic">
            <img src="assets/portfolio/experience/ftk2018.png" alt="third slide" style="display: block; width: 100%;">
          </slide>
        </carousel>

    </div>

  </div>
</div>
