<div id="backgound"></div>

<nav id="nav-container">
  <div id="inner-nav-container">
    <img routerLink="/" id="page-logo" src="../assets/newLogoWhite.png" alt="">
    <div id="main-menu">
      <label id="nav" class="fas fa-bars" (click)="toggleMenu()"></label>
    
      <div id="pages">
        <a id="pg2" routerLink="/"><i class="fas fa-laptop-code"></i>Portfolio</a>
        <a id="pg3" routerLink="/contact" (click)="contactClick()"><i class="fas fa-address-book"></i>Contact</a>
      </div>
    </div>
  </div>  
</nav>

<div id="container2">
  <div [@routeAnimations]="prepareRoute(outlet)" class="content">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

  <div id="footer-background"></div>
  <div id="footer">
    <h3>QUICK LINKS</h3>
    <div id="quickLinks">
      <li>
        <a routerLink="/">Portfolio</a>
      </li>
      <li>
        <a routerLink="/contact">Contact</a>
      </li>
      <li>
        <a href="assets/resume.pdf" target="_blank">Resume</a>
      </li>
      <li>
        <a href="https://github.com/aparcanapavel" target="_blank">GitHub</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/pavel-aparcana/" target="_blank">LinkedIn</a>
      </li>
      <li>
        <a href="https://angel.co/pavel-andrei-aparcana">AngelList</a>
      </li>
    </div>
    <div id="signature">
      <p>Developed by Pavel Aparcana</p>
    </div>
  </div>
</div>
