.welcome-header{
  width: 100%;
  position: relative;
  padding: 150px 50px;
  transition: opacity 0.3s;
  /* opacity: 1; */
}

.welcome-header h3,
.welcome-header > p{
  color: white;
  width: auto;
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

.welcome-header h3{
  font-size: 65px;
}

.welcome-header > p {
  font-size: 20px;
  font-family: 'Heebo', sans-serif;
  margin: 0px;
}

.to-projects{
  color: white;
  text-align: center;
  border: 1px solid white;
  max-width: 150px;
  padding: 0px 20px;
  font-family: 'Heebo', sans-serif;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  bottom: -60px;
  /* left: 50%; */
  box-sizing: border-box;
  transition: background-color 0.3s;
  cursor: pointer;
  /* animation: borderBlink 2.5s linear infinite; */
}

@keyframes borderBlink {
50% { border-color: #89B3D6; }
}

@keyframes colorBlink {
50% { color: #89B3D6; }
}

.to-projects:hover{
  color: black;
  background-color: whitesmoke;
}

.to-projects i {
  animation: colorBlink 2.5s linear infinite;
}

.to-projects p {
  margin: 0px;
  padding: 0px;
}

.to-projects:focus{
  outline: none;
}

#quickContact
{
  display: block;
  position: relative;
  list-style: none;
  font-size: 25px;
  top: 5px;
  margin: 0 auto;
  z-index: 2;
  width: fit-content;
  padding: 0px;
}
#quickContact > li
{
  width: 40px;
  height: 40px;
  /* margin-bottom: 5px; */
  margin: 15px 20px;
  background-color: white;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  transition: 0.2s;
}
#quickContact > li:hover
{
  background-color: #89B3D6;
}
#quickContact > li > a:hover
{
  color: white;
  transition: color 0.3s;
}
#quickContact > li > a
{
  text-decoration: white;
  color: black;
  padding: 2px;
  vertical-align: top;
  font-size: 35px;
}
#quickContact > li:nth-of-type(2) > a
{
  font-size: 33px;
  padding: 3px 2px;
}

#project-background-container{
  background-color: #607E96;
}

#projectContainer
{
  /* border-left: 1px solid rgba(255,255,255,0.4);
  border-right: 1px solid rgba(255,255,255,0.4); */
  padding: 0 20px;
  /* background-color: #004266; */
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 960px;
  margin: 0 auto;
  display: block;
  position: relative;
}
#projectContainer h3
{
  color: rgba(255,255,255,1);
  margin-bottom: 20px;
}
.projectIcon,
.projectEssay
{
  vertical-align: top;
  margin-left: 30px;
}
.projectIcon
{
  width: 65px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
}
.projectIcon a img
{
  width: 100%;
}
.projectEssay
{
  color: rgba(255,255,255,.9);
  padding-right: 25px;
  position: relative;
  display: block;
}
.projectEssay .git
{
  margin-top: -15px;
}
.projectEssay .git a
{
  padding: 8px;
  font-size: 20px;
  text-decoration: none;
}
.projectEssay .git a:hover
{
  cursor: pointer;
}
.carousel-caption
{
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
#projectSlideshow
{
  width: 60%;
  margin: auto;
}
#anchor-link{
  color: #2F3E4A;
}









/* Mobile Switch! */
@media all and (max-width:650px)
{
  .projectEssay
  {
    padding-right: 15px;
  }
  .carousel-caption h5
  {
    font-size: 15px;
  }
  #projectSlideshow
  {
    width: 100%;
    margin: auto;
  }
  h3
  {
    font-size: 25px;
  }

  .welcome-header{
    width: 100%;
    position: relative;
    padding: 50px 50px;
    height: 250px;
  }

  .welcome-header h3,
  .welcome-header > p{
    color: white;
    width: auto;
    text-align: center;
    font-family: 'Questrial', sans-serif;
  }

  .welcome-header h3{
    font-size: 45px;
  }

  .welcome-header > p {
    font-size: 15px;
    font-family: 'Heebo', sans-serif;
  }

  .to-projects{
    color: white;
    text-align: center;
    border: 1px solid white;
    max-width: 150px;
    padding: 0px 20px;
    font-family: 'Heebo', sans-serif;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    bottom: -30px;
    /* left: 50%; */
    box-sizing: border-box;
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 15px;
  }

  #quickContact > li
  {
    width: 30px;
    height: 30px;
  }
  #quickContact > li > a
  {
    font-size: 28px;
  }
  #quickContact > li:nth-of-type(2) > a
  {
    font-size: 25px;
  }
}





@media all and (max-width: 380px)
{
  h3
  {
    font-size: 23px;
  }
}
